**/.initialized

**/venv/
**/.venv/
**/.env/

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

**/*.log

**/*.tmp
**/*.bak

.vscode/
.idea/

docker-compose.override.yml
**/docker-compose.override.yml

dist/
build/