auth_enabled: false

server:
  http_listen_port: 3100

ingester:
  wal:
    enabled: true

schema_config:
  configs:
    - from: 2022-01-01
      store: boltdb-shipper
      object_store: filesystem
      schema: v11

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
  filesystem:
    directory: /loki/chunks